SKIP_PREFLIGHT_CHECK=true

API_SERVER_SHORT_URL=http://api.allgeneration.com/public/
NEXT_PUBLIC_API_URL=http://api.allgeneration.com/public/api/v1/
NEXT_PUBLIC_URL=http://api.allgeneration.com/public/

API_SERVER_SHORT_URL=http://192.168.0.102/Ecommerce/Ecommerce-Advance-API/public/
NEXT_PUBLIC_API_URL=http://192.168.0.102/Ecommerce/Ecommerce-Advance-API/public/api/v1/
NEXT_PUBLIC_URL=http://192.168.0.102/Ecommerce/Ecommerce-Advance-API/public/

//Live URL 

API_SERVER_SHORT_URL=http://api2.allgeneration.com/public/
NEXT_PUBLIC_API_URL=http://api2.allgeneration.com/public/api/v1/
NEXT_PUBLIC_URL=http://api2.allgeneration.com/public/

//for .env.development
NEXTAUTH_URL=http://localhost:3000

//for .env.production
NEXTAUTH_URL=https://deshibazaarbd.com


NEXT_PUBLIC_FACEBOOK_PIXEL_ID=